body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}
h1{
    margin-bottom: 20px;
}
#gameBoard{
    display: grid;
    grid-template-columns: repeat(8, 60px);
    grid-template-rows: repeat(8, 60px);
    gap: 0;
    border: 2px solid #333;
}

.cell{
    width: 60px;
    height: 60px;
}
.cell.dark{
    background-color: #8b4513;
}
.cell.light{
    background-color: #f5deb3;
}
.piece{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin: auto;
    display: block;
}
.piece.red{
    background-color: red;
}
